/*lighter green: #8ba577*/

@font-face {
    font-family: "Terminus";
    src: url("/fonts/TerminusTTF.woff") format("woff");
}

header {
    background-color: #4c5a41;
    color: #4e3b2d;
    font-size: larger;
}

body {
    max-width: 600px;
    margin: auto;
    padding: 0px 5%;
    font-size: 18px/1.5;
    font-family: 'Noto Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: lowercase;
    color: #83795d;
    background-color: #1d1c1f;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: none;
}

h1,
h2 {
    font-family: "Terminus";
    margin-bottom: 0%;
}

sub {
    font-variant: small-caps;
    margin-top: 0%;
}

a {
    color: #4e3b2d;
}

a:hover {
    color: #b18666;
}

blockquote {
    border-left: 3px solid #d2cae0;
    padding-left: 2%;
}

.dictionary {
    margin: 5%;
    line-height: 10%;
}